@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*---------NAVIGATION--------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    position: fixed;
    width: 1380px;
    padding: 15px 25px;
    border-radius: 8px;
    color: #fff;
    /* background-color: aliceblue; */
}

header .header-left {
    display: flex;
    align-items: center;
    gap: 70px;
}

header .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .header-left ul {
    display: flex;
    list-style: none;
    font-size: 0.75rem;
    font-weight: 400;
    gap: 40px;
    text-transform: uppercase;
}
header a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

header a:hover {
    color: #14b789;
    transition: .1s;
}

header a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #14b789;
    bottom: -10px;
    left: 0;
    transition: .3s;
    display: none;
}
header a:hover::after {
    display: block;
}
.header-right h4 {
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 500px;
}

.header-right span {
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.scrolled {
    position: fixed;
    color: #000;
    background-color: #fff;
}

.scrolled ul li a {
    color: #666;
}
.scrolled ul li a:hover {
    color: #14b789;
}
.scrolled .header-right h4 {
    color: #14b789;
    border-color: #14b789;
}
.scrolled .header-right span {
    color: #fff;
    background-color: #14b789;
}
/*------------HOME------------------*/
#home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('./img/bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.home-container {
    margin: 0 auto;
    max-width: 1380px;
    position: relative;
}
