@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*---------NAVIGATION--------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    position: fixed;
    width: 1300px;
    padding: 15px 25px;
    border-radius: 16px;
    color: #fff;
    font-size: 1.25rem;
    z-index: 1000;
    /* background-color: aliceblue; */
}

header .header-left {
    display: flex;
    align-items: center;
    gap: 70px;
}

header .header-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

header .header-left ul {
    display: flex;
    list-style: none;
    font-size: 0.75rem;
    font-weight: 400;
    gap: 40px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

header a:hover {
    color: #14b789;
    transition: .1s;
}

header a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #14b789;
    bottom: -10px;
    left: 0;
    transition: .3s;
    display: none;
}

header a:hover::after {
    display: block;
}

.header-right h4 {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 500px;
    cursor: pointer;
}

.header-right h4:hover {
    background-color: #fff;
    color: #14b789;
    transition: .2s;
}

.header-right span,
.header-right i {
    color: #000;
    background-color: #fff;
    width: 42px;
    height: 42px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.scrolled {
    position: fixed;
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 30px rgba(0, 0, 0, .2);
}

.scrolled ul li a {
    color: #666;
}

.scrolled ul li a:hover {
    color: #14b789;
}

.scrolled .header-right h4 {
    color: #14b789;
    border-color: #14b789;
}

.scrolled .header-right h4:hover {
    color: #fff;
    background-color: #14b789;
}

.scrolled .header-right span,
.scrolled .header-right i {
    color: #fff;
    background-color: #14b789;
}

/*------------HOME------------------*/
#home {
    position: relative;
    /* height: 680px; */
    width: 100%;
    background-image: url('./img/bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.home-container {
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
}

.home-inner {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-1-line {
    display: flex;
    gap: 20px;
    align-items: center;
}

.home-profile-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.home-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-1-line h1,
.home-2-line h1 {
    font-size: 2.75rem;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 500px;
    /* font-weight: 500; */
}

.home-2-line h1 {
    margin: 24px 0;
    color: #14b789;
}

.home-inner button {
    padding: 10px 25px;
    border-radius: 500px;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    background-color: #535DA1;
    color: #fff;
    cursor: pointer;
}

.home-inner button:hover {
    background-color: #14b789;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: .2s;
}

.home-img {
    position: relative;
    margin-right: 50px;
}

.home-img img {
    z-index: 10;
    position: absolute;
    width: 150%;
    top: 50px;
    left: -50px;
}

.home-circle {
    width: 370px;
    height: 370px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}

/*------------ABOUT--------------------*/

#about {
    width: 100%;
    /* background-color: #666; */
    display: flex;
    width: 1300px;
    margin: 100px auto;
    gap: 50px;
}

.about-left,
.about-right {
    flex: 1;
}

.about-left img {
    width: 100%;
    border-radius: 16px;
}

.about-right-title {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: #14b789;
    gap: 20px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 16px;
}

.about-right-title h1 {
    font-size: 3rem;
    padding: 10px 25px;
}

.about-right-title-img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.about-right-title-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-right-content h2 {
    font-size: 1.75rem;
    margin: 30px 0;
}

.about-right p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.5rem;
}

/*---------Experience-----------*/

#experience {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #ddddee;
}

.experience-wrapper {
    display: flex;
    gap: 50px;
    width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
}

.table {
    width: 1300px;
    margin: 0 auto;
}

.experience-left {
    flex: 1;
    border: 1px solid #ddddee;
    border-radius: 16px;
    overflow: hidden;
}

.experience-right {
    flex: 1;
}

.experience-left table {
    border-radius: 16px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font-size: 1.1rem;
}

.experience-left table caption {
    font-size: 1.25rem;
    border-bottom: 1px solid #ddddee;
    padding: 10px 25px;
    text-align: left;
    line-height: 2.75rem;
}

.experience-left table tr:nth-child(even) {
    background-color: #fff;
}

.experience-left table td,
.experience-left table th {
    padding: 10px 25px;
    line-height: 1.75rem;
}

.experience-left table tr th {
    border-right: 1px solid #ddddee;
    color: #14b789;
}

.experience-left table tr td {
    color: #666;
}

.experience-left a {
    text-decoration: none;
    color: #666;
}

.experience-left a:hover {
    color: #14b789;
    transition: .1s;
}

.experience-right table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.experience-right table td {
    padding: 10px 25px;
}

.experience-right table td h1 {
    font-size: 3.5rem;
}

.experience-right table td p {
    font-size: 1.2rem;
    color: #14b789;
}

.experience-right table tr:nth-child(1) td:nth-child(1) {
    border-right: 1px solid #ddddee;
}

.experience-right table tr:nth-child(1) td:nth-child(2) {
    border-bottom: 1px solid #ddddee;
}

.experience-right table tr:nth-child(2) td:nth-child(1) {
    border-top: 1px solid #ddddee;
}

.experience-right table tr:nth-child(2) td:nth-child(2) {
    border-left: 1px solid #ddddee;
}

/*------------experience-----------*/
#companies {
    width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#companies h1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
}

.companies-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.companies-wrapper img {
    width: 100px;
}

.companies-wrapper img:hover {
    transform: scale(1.5);
    transition: .2s;
}

/*-----------Services-----------*/

#services {
    background-color: #f8f8f8;
    padding: 100px 0;
}

.services-wrapper {
    width: 1150px;
    margin: 0 auto;
}

.services-title {
    width: 100%;
    background-color: #14b789;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 1.75rem;
    padding: 10px 0;
}

.services-title-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.services-title-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-card {
    padding: 50px;
    background-color: #fff;
    border-radius: 16px;
    margin: 12px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
}

.service-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddd;
}

.service-card-title h1 {
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.service-price {
    font-size: 1.5rem;
    background-color: #535DA1;
    color: #fff;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.service-price::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    top: -18px;
    right: -18px;
    background-color: #14b789;
}


.service-card-inner p {
    margin: 15px 0;
    font-size: 1.1rem;
    color: #666;
    line-height: 1.5rem;
}

.service-card-inner button {
    padding: 10px 25px;
    border-radius: 500px;
    font-size: 1.2rem;
    font-weight: 500;
    background: none;
    border: 2px solid #ddd;
    color: #666;
    cursor: pointer;
    margin: 10px 0;
}

.service-card-inner button:hover {
    background-color: #14b789;
    color: #fff;
    border: 2px solid #14b789;
    transition: .25s;

}

.service-card-icon {
    height: 200px;
}

.service-card-icon i {
    font-size: 6rem;
    position: absolute;
    bottom: -70px;
    right: -50px;
    padding: 80px;
    padding-top: 50px;
    padding-bottom: 150px;
    border: 1px solid #ddd;
    border-radius: 16px;
    transform: rotate(315deg);
}

.services-card:hover {
    border: 2px solid #14b789;
    transition: .5s;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}
.services-card:hover .service-price::after {
    background-color: #535DA1;
    transition: .5s;
}
.services-card:hover .service-price{
    background-color: #14b789;
    transition: .5s;
}

.services-card:hover .service-card-icon i {
    background-color: #14b789;
    border-color: #14b789;
    color: #fff;
    transition: .5s;
}
.sevices-card-wrapper{
    display: flex;
    padding: 50px 0;
}
.services-column{
    flex: 1;
}
.services-column:nth-child(1){
    margin-top: 80px;
}